<mat-toolbar color="primary" class="shadown-lg">
    <button mat-icon-button aria-label="Open Menu" (click)="toggleCollapseMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span> CONTULS</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>qr_code_scanner</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>calendar_month</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>