<div class="container-fluid">
    <mat-nav-list>
        <div *ngFor="let item of menu">
            <mat-list-item [disabled]="item.disabled" [routerLink]="item.link" [activated]="!item.disabled">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                <div class="ct-sg-font" matListItemTitle>{{item.title}}</div>
                <div class="ct-sg-font" *ngIf="item.subtitle" matListItemLine>{{item.subtitle}}</div>
            </mat-list-item>
            <mat-divider class="w-100"></mat-divider>   
        </div>
    </mat-nav-list>
</div>